<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>failureBonusPercentageOfBaseline</key>
	<real>0.1</real>
	<key>tier1</key>
	<dict>
		<key>baseline</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.9</real>
			<real>0.9</real>
			<real>0.8</real>
			<real>0.8</real>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.6</real>
			<real>0.5</real>
			<real>0.4</real>
			<real>0.3</real>
			<real>0.2</real>
			<real>0.15</real>
			<real>0.1</real>
			<real>0.05</real>
		</array>
		<key>additional</key>
		<array>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
			<array>
				<dict>
					<key>maximum</key>
					<string>5</string>
					<key>value</key>
					<string>0.05</string>
					<key>id</key>
					<string>star_breath</string>
				</dict>
				<dict>
					<key>maximum</key>
					<string>1</string>
					<key>value</key>
					<string>0.1</string>
					<key>id</key>
					<string>t1_book</string>
				</dict>
			</array>
			<real>0.9</real>
			<real>0.8</real>
			<real>0.8</real>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.6</real>
			<real>0.5</real>
			<real>0.4</real>
			<real>0.3</real>
			<real>0.2</real>
			<real>0.15</real>
			<real>0.1</real>
			<real>0.05</real>
		</array>
	</dict>
	<key>tier2</key>
	<dict>
		<key>baseline</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0.9</string>
			<string>0.9</string>
			<string>0.8</string>
			<string>0.8</string>
			<string>0.7</string>
			<string>0.7</string>
			<string>0.6</string>
			<string>0.5</string>
			<string>0.4</string>
			<string>0.3</string>
			<string>0.2</string>
			<string>0.15</string>
			<string>0.1</string>
			<string>0.05</string>
		</array>
	</dict>
	<key>tier3</key>
	<dict>
		<key>baseline</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>0.6</string>
			<string>0.45</string>
			<string>0.3</string>
			<string>0.3</string>
			<string>0.3</string>
			<string>0.15</string>
			<string>0.15</string>
			<string>0.15</string>
			<string>0.1</string>
			<string>0.1</string>
			<string>0.1</string>
			<string>0.05</string>
			<string>0.05</string>
			<string>0.03</string>
		</array>
	</dict>
</dict>
</plist>
